/*conteudo*/
.pagina-conteudo{
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*paragrafos*/
.pagina-conteudo p{
    color: #3a3a3a;
    line-height: 22px; /*esoaçamento entre as linhas*/
    margin-top: 20px;
    margin-bottom: 20px;
}